<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#f7858d">
    <meta name="msapplication-navbutton-color" content="#f7858d">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f7858d">
    <title>@ViewData["Title"] | فروشگاه اینترنتی دیدیکالا</title>
    <link rel="stylesheet" href="/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap-slider.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/jquery.horizontalmenu.css">
    <link rel="stylesheet" href="/assets/css/vendor/fancybox.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/nice-select.css">
    <link rel="stylesheet" href="/assets/css/vendor/nouislider.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/colors/blue-color.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>

<body>
    <div class="wrapper vh-100 d-flex align-items-center justify-content-center">
        <div id="validation-summary-wrapper">
            <div asp-validation-summary="ModelOnly" id="validation-summary"></div>
        </div>
        <main class="main-content dt-sl mt-4 mb-3">
            <div class="container main-container">
                <div class="row">
                    <div class="col-xl-3 col-lg-5 col-md-7 col-12 mx-auto">
                        <div class="auth-wrapper form-ui border p-4">
                            <div class="logo-area text-center mb-4">
                                <a href="/"><img src="/assets/img/logo.png" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="section-title title-wide mb-3 p-0 no-after-title-wide no-title-wide-before">
                                <h2 class="font-weight-bold p-0">@ViewData["Title"]</h2>
                            </div>
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="/assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/vendor/popper.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/vendor/bootstrap-slider.min.js"></script>
    <script src="/assets/js/vendor/owl.carousel.min.js"></script>
    <script src="/assets/js/vendor/owl.carousel2.thumbs.min.js"></script>
    <script src="/assets/js/vendor/jquery.nicescroll.min.js"></script>
    <script src="/assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/assets/js/vendor/nouislider.min.js"></script>
    <script src="/assets/js/vendor/jquery.horizontalmenu.js"></script>
    <script src="/assets/js/vendor/jquery.fancybox.min.js"></script>
    <script src="/assets/js/vendor/countdown.min.js"></script>
    <script src="/assets/js/vendor/wNumb.js"></script>
    <script src="/assets/js/vendor/ResizeSensor.min.js"></script>
    <script src="/assets/js/vendor/theia-sticky-sidebar.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/custom.js"></script>
    <partial name="Shared/_ValidationScriptsPartial" />
</body>

</html>