@font-face {
	font-family: "secondary-font";
	src: url("/admin/fonts/farsi-fonts/hanieh-700.eot");
	src: url("/admin/fonts/farsi-fonts/hanieh-700.eot?#iefix") format("embedded-opentype"),
		 url("/admin/fonts/farsi-fonts/hanieh-700.woff2") format("woff2"),
		 url("/admin/fonts/farsi-fonts/hanieh-700.woff") format("woff"),
		 url("/admin/fonts/farsi-fonts/hanieh-700.ttf") format("truetype");
	font-weight: 700;
}