<h2 class="widget-title mb-3">خبرنامه</h2>
<div class="text-sm text-muted mb-2">با ثبت‌نام در خبرنامه از جدیدترین تخفیف‌ها باخبر شوید</div>
<form method="post" asp-page-handler="SetNewsletterSubscription" class="position-relative"
      onsubmit="return setNewsletterSubscription(event)">
    <div class="loading">
        <div class="dot-flashing"></div>
    </div>
    <button type="submit" class="btn-element w-100 btn-info-element">
        ثبت‌نام
    </button>
</form>