@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Shop.API.ViewModels.Users.Auth.ResetUserPasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
}

<div class="section-title mb-2">@ViewData["Title"]</div>
<section class="shadow-around p-3 mt-2">
    <form asp-page-handler="ResetPassword">
        @Html.EditorFor(m => m.CurrentPassword)
        @Html.EditorFor(m => m.NewPassword)
        @Html.EditorFor(m => m.ConfirmNewPassword)
        <div class="form-element-row text-right m-0 mt-3">
            <button class="btn-element btn-success-element">
                <i class="fad fa-user-edit"></i>
                ذخیره
            </button>
        </div>
    </form>
</section>