<form method="post" asp-page-handler="SetNewsletterSubscription" class="position-relative" data-ajax="true">
    <div class="loading">
        <div class="dot-flashing"></div>
    </div>
    <button type="submit" class="btn-element w-100 btn-info-element">
        لغو دریافت خبرنامه
    </button>
</form>