@model Shop.UI.Models.Auth.PasswordModel
@{
    ViewData["Title"] = "ورود";
}

<div class="site-logo">
    <a href="/">
        <img src="/assets/images/logo.png" alt="logo">
    </a>
</div>
<div class="auth-form-title border-0">
    @ViewData["Title"]
</div>
<form method="post" data-ajax="true" asp-page-handler="Password">
    <div class="form-row-title mb-3">
        <h4 class="font-weight-normal fa-1x">لطفا رمز عبور خود را وارد کنید</h4>
    </div>
    @Html.EditorFor(m => m.Password)
    <div class="form-element-row text-left mb-2 mt-4">
        <button class="btn-element btn-info-element w-100">
            ورود
        </button>
    </div>
</form>