@page
@model Shop.UI.Pages.Auth.LoginModel
@{
    Layout = "Shared/Layouts/_AuthLayout";
    ViewData["Title"] = "ورود | ثبت نام";
}

<div class="container main-container">
    <div class="row">
        <div class="col-xl-3 col-lg-5 col-md-7 col-12 mx-auto">
            <div class="auth-wrapper form-ui border p-4">
                <div class="logo-area text-center mb-4">
                    <a href="#"><img src="/assets/img/logo.png" class="img-fluid" alt="logo"></a>
                </div>
                <div class="section-title title-wide mb-3 p-0 no-after-title-wide no-title-wide-before">
                    <h2 class="font-weight-bold p-0">@ViewData["Title"]</h2>
                </div>
                <form method="post" class="m-0 p-0">
                    <div class="form-row-title mb-3">
                        <h4 class="font-weight-normal">لطفا شماره موبایل یا ایمیل خود را وارد کنید</h4>
                    </div>
                    <div id="emailOrPhoneDiv" class="form-row with-icon m-0">
                        <input type="text" asp-for="EmailOrPhone" id="emailOrPhoneInput"
                               class="input-ui pr-2" placeholder="شماره موبایل یا ایمیل">
                    </div>
                    <span asp-validation-for="EmailOrPhone" class="d-block mt-1 mb-2"></span>
                    <div class="form-row mt-3 m-0">
                        <button class="btn-primary-cm mx-auto w-100">ورود</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>