:root {
  color-scheme: dark;
}

.field-validation-error, .field-validation-error span {
  color: #ff4242 !important;
  font-size: 13px;
  margin-top: 5px;
}

.input-validation-error {
  border-color: #ff4242 !important;
}

.select2.input-validation-error ~ span.select2-container {
  border-color: #ff4242 !important;
}

.input-validation-error ~ label {
  border-color: #ff4242 !important;
}

.form-control {
  font-size: 0.85rem;
}

.pace {
  display: none;
}

.card {
  overflow: hidden;
}

.content-wrapper {
  margin-bottom: 400px;
}

.main-menu .navbar-header .modern-nav-toggle {
  margin-top: 12px;
}

.avatar-img {
  border-radius: 50%;
}

.tooltip {
  font-size: 11px;
  font-weight: 100;
}

  .tooltip .arrow:before {
    border-bottom-color: rgb(58 70 93 / 50%) !important;
    border-top-color: rgb(58 70 93 / 50%) !important;
    backdrop-filter: blur(2px) !important;
  }

.tooltip-inner {
  background-color: rgb(58 70 93 / 50%) !important;
  backdrop-filter: blur(2px) !important;
}

.modal-header, .modal-body {
  padding: 1rem;
}

.modal-content {
  border: 1px solid #304256;
  border-radius: 7px;
}

.modal .modal-content i {
  margin: 0;
  margin-left: 1px;
  font-size: 26px;
}

.custom-file-label::after {
  height: 100%;
}

.table thead th {
  font-size: 0.9rem;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

.custom-control-label {
  cursor: pointer;
  user-select: none;
}

.specifications .custom-checkbox {
  margin-top: 9px;
}

a.text-success:hover {
  color: #39DA8A !important;
}

a.text-primary:hover {
  color: #5A8DEE !important;
}

a.text-danger:hover {
  color: #FF5B5C !important;
}

a.text-info:hover {
  color: #00CEDC !important;
}

a.text-warning:hover {
  color: #FDAC41 !important;
}

a.text-success:focus {
  color: #39DA8A !important;
}

a.text-primary:focus {
  color: #5A8DEE !important;
}

a.text-danger:focus {
  color: #FF5B5C !important;
}

a.text-info:focus {
  color: #00CEDC !important;
}

.bg-rgba-success {
  transition: background ease 0.2s;
}

.bg-rgba-primary {
  transition: background ease 0.2s;
}

.bg-rgba-danger {
  transition: background ease 0.2s;
}

.bg-rgba-info {
  transition: background ease 0.2s;
}

.bg-rgba-warning {
  transition: background ease 0.2s;
}

.bg-rgba-success:hover {
  background: rgba(57, 218, 138, 0.25) !important;
}

.bg-rgba-primary:hover {
  background: rgba(90, 141, 238, 0.25) !important
}

.bg-rgba-danger:hover {
  background: rgba(255, 91, 92, 0.25) !important;
}

.bg-rgba-info:hover {
  background: rgba(0, 207, 221, 0.25) !important;
}

.bg-rgba-warning:hover {
  background: rgba(253, 172, 65, 0.25) !important;
}

.grayed {
  color: #607190 !important;
  font-weight: 400;
}

table.table-striped thead th {
  border: none;
}

tr.children {
  background-color: #222944;
}

  tr.children td {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

    tr.children td a, tr.children td button {
      padding: 4px;
      padding-left: 10px;
      padding-right: 10px;
    }

.table tr {
  transition: all ease 0.2s;
}

.table-striped td {
  border: none;
}

.table thead th {
  border-width: 1px;
  border-color: #37435e !important;
}

.category-title {
  display: inline-flex;
  align-items: center;
}

  .category-title i {
    height: 15px;
    width: 15px;
    font-size: 14px;
    text-indent: 0;
    margin-right: 3px;
  }

body.dark-layout .table tbody td {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  border-color: #37435e !important;
}

  body.dark-layout .table tbody td a, body.dark-layout .table tbody td button {
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
  }

.indentation-lines {
  display: block;
  position: absolute;
  top: 0;
  width: 2px;
  height: calc(100%);
  background-color: #37435e;
  background-clip: padding-box;
}

[data-hassubcategory="true"] {
  cursor: pointer;
}

.avatar-file-label {
  margin: 0;
  border-radius: 50%;
  border: 2px solid #464D5C;
  background-color: transparent;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
}

input[data-img-preview] {
  visibility: hidden;
  position: absolute;
  height: 0;
}

.avatar-file-label i {
  position: absolute;
  padding-top: 2px;
  opacity: 0.6;
  color: white;
  pointer-events: none;
  margin: 0 !important;
  margin-left: 0 !important;
}

.avatar-file-label img[data-img-preview] {
  padding: 5px;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50%;
}

.avatar-img {
  object-fit: cover;
}

.select2 ~ span.select2-container {
  width: 100% !important;
  border: 1px solid #464d5c;
  border-radius: 4px;
}

.select2-dropdown--above .select2-results__options {
  border: 0 !important;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.select2-dropdown--below .select2-results__options {
  border: 0 !important;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.permission-badges {
  font-size: 12px;
  padding: 5px 10px 3px 10px;
  margin: 2px;
  border-radius: 6px;
}

ul.select2-selection__rendered {
  margin-top: 3px !important;
}

th:first-child {
  padding-right: 20px;
}

td:first-child {
  padding-right: 20px;
}

th:not(:first-child) {
  padding-right: 0;
}

td:not(:first-child) {
  padding-right: 0;
}

td .item-image {
  border-radius: 10px;
  object-fit: contain;
  border: 1px solid #37435e;
}

td small {
  font-size: 10px;
}

td {
  font-size: 13px;
  width: 1%;
  white-space: nowrap;
}

.item-color {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  display: inline-block;
}

.toman-placeholder {
  position: absolute;
  left: 9px;
  bottom: 9px;
  font-size: 12px;
  color: #6c7693;
}

.category-table .radio {
  display: inline-flex;
  text-indent: 0;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.radio-circle:before {
  margin: 0 !important;
}

.category-table label input {
  margin-left: 7px;
}

.category-table label {
  font-weight: unset;
  font-size: 13px;
  align-items: center;
  justify-content: center;
}

  .category-table label::before {
    margin-top: 0;
  }

  .category-table label::after {
    top: unset;
  }

fieldset.has-icon-left i.bx-search {
  margin-top: 2px;
}

[data-searched] {
  border: 1px solid #425070;
  border-radius: 7px;
  padding: 2px 4px;
}

.galleryImagesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-radius: 10px;
  height: 100%;
  direction: ltr;
  border: 1px solid #37435e;
}

.galleryImagesContainer label.badge-pill,
.galleryImagesContainer button.badge-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  margin: 0;
  padding: 0 10px;
  margin-top: -5px;
  margin-right: 5px;
  padding-top: 1px;
  cursor: pointer;
}

.galleryImagesContainer a.badge-pill i {
  margin-left: 5px;
  margin-top: 3px;
}

.galleryImagesContainer .field-validation-error {
  margin: 0;
  margin-right: 5px;
  margin-bottom: 3px;
}

.galleryImagesList .galleryImageItem {
  display: inline-flex;
  margin: 5px;
  width: 127px;
  height: 127px;
  overflow: hidden;
}

  .galleryImagesList .galleryImageItem img {
    border-radius: 7px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid #37435e;
  }

.mainImageContainer .mainImage {
  display: inline-flex;
  border: 1px solid #37435e;
  border-radius: 10px;
  margin: 0;
  width: 260px;
  height: 260px;
  overflow: hidden;
}

  .mainImageContainer .mainImage img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.badge-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  margin: 0;
  padding: 0 10px;
  margin-top: -5px;
  margin-right: 5px;
  padding-top: 1px;
  cursor: pointer;
}

[data-repeater-remove], .galleryImageItem .badge-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  align-self: center;
}

.galleryImageItem .badge-pill {
  margin-right: 5px;
}

.galleryImageItem label.badge-pill {
  margin-right: auto;
}

.image-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid #37435e;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  padding: 5px;
}

  .image-block img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: contain;
  }

  .image-block i {
    position: absolute;
  }

img[data-img-preview] {
  z-index: 1;
}

table.productGalleryImagesTable tbody tr {
  cursor: grab;
}

label.galleryImageItem {
  cursor: pointer;
}

.galleryImageItem {
  position: relative;
}

div.galleryImageItem {
  cursor: grab;
}

.galleryImageItem span {
  position: absolute;
  z-index: 10;
  font-size: 10px;
  background-color: #425070;
  padding: 3px 5px 0 5px;
  border-radius: 5px 5px 0 0;
  bottom: 0;
  line-height: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

.operations {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 145px;
}

  .operations a:not(:first-child), .operations button:not(:first-child) {
    margin-top: 5px;
  }

.galleryImageItem .imgOptions {
  position: absolute;
  width: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  padding: 5px;
  direction: rtl;
  transition: all ease 0.25s;
  opacity: 0;
  height: 0;
}

.galleryImageItem:hover .imgOptions {
  height: 35px;
  bottom: 0;
  opacity: 1;
}

.galleryImageItem .imgOptions button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  padding: 2px;
}

.galleryImageItem .imgOptions label {
  display: inline-flex;
  color: white;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  padding: 2px;
}

  .galleryImageItem .imgOptions label i,
  .galleryImageItem .imgOptions button i {
    opacity: 0;
    transition: all ease 0.25s;
  }

.galleryImageItem:hover .imgOptions button i,
.galleryImageItem:hover .imgOptions label i {
  opacity: 1;
}

.galleryImageItem .imgOptions button:last-child {
  margin-right: auto;
}

.galleryImageItem .checkbox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  padding: 0;
  margin: 0;
  right: 4px;
}

  .galleryImageItem .checkbox label i {
    transform: scale(1.4) !important;
    padding-left: 2px;
    padding-top: 1px;
  }

.breadcrumb {
  font-size: 13px;
  min-height: 35px;
  padding: 5px 10px;
  margin-bottom: 7px;
}

.breadcrumb-item + .breadcrumb-item {
  padding-right: 3px;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  padding-top: 1px;
  padding-left: 0;
}

.ql-formats i.bx {
  color: #8A99B5;
}

.ql-editor {
  font-family: "primary-font", "segoe ui", "tahoma";
}

.ql-toolbar {
  border-radius: 5px 5px 0 0;
}

.ql-container {
  height: unset;
  border-radius: 0 0 5px 5px;
  background-color: #1a233a;
}

.ql-toolbar .ql-stroke {
  fill: none;
  stroke: #8A99B5;
}

.ql-toolbar .ql-fill {
  fill: #8A99B5;
  stroke: none;
}

.ql-toolbar .ql-fill {
  stroke: none !important;
}

.ql-toolbar .ql-picker {
  color: #8A99B5 !important;
}

.ql-toolbar .ql-fill.ql-stroke {
  fill: #8A99B5 !important;
  stroke: #8A99B5 !important;
}

.ql-toolbar button.ql-active .ql-fill.ql-stroke {
  fill: #06c !important;
  stroke: #06c !important;
}

.ql-toolbar button:hover .ql-fill.ql-stroke {
  fill: #06c !important;
  stroke: #06c !important;
}

table.choose-product td {
  width: unset;
}

  table.choose-product td:first-child {
    width: 1px;
  }

#product-colors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #304256;
  margin-top: 5px;
  padding: 2px;
}

.product-color {
  margin: 1px;
  flex-grow: 1;
}

#product-colors .product-color label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 5px;
  background-color: #37435e;
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
  transition: all ease 0.1s;
  height: 28px;
}

  #product-colors .product-color label span.color-name {
    white-space: nowrap;
  }

.product-color input[type="radio"]:checked + label {
  border: 2px solid #5a8dee;
}

[data-valmsg-for] {
  display: block;
}

.img-preview-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  border-radius: 7px;
  min-height: 245px;
  border: 1px solid #464d5c;
}

  .img-preview-container i {
    font-size: 44px !important;
    position: absolute;
  }

.img-preview[src=""] {
  width: 100%;
  height: auto;
  display: none;
  border-radius: 5px;
}

.img-preview[src] {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.cropper-container {
  border-radius: 10px;
}

.cropper-wrap-box {
  border-radius: 7px;
  overflow: hidden;
}

.cropper-drag-box {
  border-radius: 7px;
  overflow: hidden;
}

.cropper-canvas img {
  border-radius: 7px;
  overflow: hidden;
}
