@model string
<div class="form-row with-icon m-0">
    <input type="password" asp-for="@Model" class="input-ui pr-2"
           placeholder="@(ViewData["placeholder"] ?? Html.DisplayNameFor(m => m))">
</div>
<span asp-validation-for="@Model" class="d-block mt-1 mb-2"></span>