@model string
<div class="form-element-row">
    <div class="form-element-with-icon">
        <i class="far fa-eye-slash"></i>
        <input type="password" class="input-element password-input" asp-for="@Model"
               placeholder="@(ViewData["placeholder"] ?? Html.DisplayNameFor(m => m))">
    </div>
</div>
<span asp-validation-for="@Model" class="d-block mb-2"></span>