* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
}

body {
  padding-right: 0 !important;
}

button:focus {
  outline: 0;
}

.field-validation-valid {
  display: none !important;
}

#alerts {
  display: none;
  top: 10px;
  right: 10px;
  z-index: 10000;
  position: fixed;
  width: 19%;
}

#alerts ul {
  margin: 5px 0 0 0;
  border-radius: 10px;
  background-color: #373737;
  color: white;
  word-break: break-word;
  font-weight: 400;
  line-height: 25px;
  padding: 10px;
}

#alerts ul:first-child {
  margin: 0;
}

.btn-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loading {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7px;
  transform: translate(-50%, 0%);
  left: 50%;
  background-color: #007bff;
}

.dot-flashing {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 220%);
}

.fa-eye, .fa-eye-slash {
  cursor: pointer;
}

.fa-eye {
  left: 16px !important;
}

.fa-eye-slash {
  left: 15px !important;
}

.form-element-with-icon i {
  color: #7c7c7c;
}