* {
  scroll-behavior: smooth;
}

.field-validation-error, .field-validation-error span {
  display: block;
  color: #ff4242 !important;
  font-size: 13px;
  margin-top: 5px;
}

.input-validation-error {
  border-color: #ff4242 !important;
}

.select2.input-validation-error ~ span.select2-container {
  border-color: #ff4242 !important;
}

.input-validation-error ~ label {
  border-color: #ff4242 !important;
}

.input-validation-error ~ .select2 .select2-selection {
  border: 1px solid #fc3232 !important;
}

.select2-results__option--disabled {
  display: none;
}

.select2-results__option {
  padding-top: 9px;
  padding-right: 10px;
}

.select2-dropdown--above .select2-results__options {
  border: 1px solid #EEEEEE;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.select2-dropdown--below .select2-results__options {
  border: 1px solid #EEEEEE;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: black;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 5px;
}

.auth-wrapper .auth-form {
  width: 370px;
  background-color: #fff;
  padding: 20px 30px;
  margin-bottom: 0px;
  position: relative;
}

.form-element-row {
  margin-bottom: 8px;
  position: relative;
}

#edit-avatar-btn {
  border: 2px solid #dedede;
  background-color: #ffffff;
  position: relative;
  width: 70px;
  height: 70px;
  padding: 3px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  overflow: hidden;
  transition: all ease-in-out 0.2s;
}

  #edit-avatar-btn i {
    display: flex;
    align-items: center;
    background-color: rgba(59, 59, 64, 0.45);
    padding: 10px;
    border-radius: 50%;
    justify-content: center;
    position: absolute;
    font-size: 22px;
    color: white;
    width: 92%;
    height: 92%;
  }

  #edit-avatar-btn img {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

.avatars-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

  .avatars-container .row label {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 18px;
  }

  .avatars-container .row:nth-child(1) label {
    margin-top: 0 !important;
  }

  .avatars-container .avatar-single {
    position: relative;
    width: 80px;
    cursor: pointer;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    margin: 5px;
  }

    .avatars-container .avatar-single img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }

.avatar-single input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.avatar-single .checkmark {
  padding: 5px;
  border: 3px solid #C0C0C0;
  width: 100%;
  border-radius: 50%;
  height: 100%;
  transition: all ease 0.2s;
}

.avatar-single input:checked ~ .checkmark {
  padding: 5px;
  border: 3px solid #007bff;
  width: 100%;
  height: 100%;
}

.modal {
  overflow-x: hidden;
}

.modal-body {
  padding: 2rem;
}

.modal .modal-dialog .modal-content {
  backdrop-filter: blur(15px) !important;
  background-color: rgba(255, 255, 255, 0.6);
}

.multiline-text {
  min-height: 100px;
  height: 100px;
}

#remove-address {
  left: 15px;
}

.profile-info {
  padding-top: 4px;
}

  .profile-info div {
    line-height: 16px;
  }

.address-select {
  cursor: default !important;
  padding-top: 10px !important;
}

  .address-select label {
    padding: 0 !important;
    margin-bottom: 10px;
    width: 100%;
  }

    .address-select label span {
      margin: 0 !important;
      padding-bottom: 15px;
      padding-top: 2px;
    }

  .address-select button {
    position: absolute !important;
    bottom: 10px !important;
    border: none !important;
    outline: none !important;
  }

    .address-select button#remove-address:hover {
      background-color: #FF5B5C !important;
    }

.main-slider .main-page-slider a img {
  width: 100%;
}

.bx {
  font-size: 20px;
}

.sellers .card {
  border-radius: 10px;
  margin: 5px 0;
  border: 1px solid #ededed;
}

.sellers .card-body {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.seller-item {
  font-size: 17px;
  flex: 1;
  text-align: left;
}

.seller-item.shop-name i {
  font-size: 25px;
}

.shop-name {
  text-align: right;
  font-weight: bold;
}

.seller-item.add-to-cart {
  flex: 2;
}

@media (max-width: 495px) {
  .sellers .card-body {
    flex-direction: column;
  }

  .seller-item {
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }
}

.tooltip .tooltip-inner {
  background-color: #525252;
  font-size: 12px;
  color: white;
}

.sort-radios label {
  transition: all ease 0.15s;
}

input[type="radio"]:checked + label {
  color: #007bff;
}

.cart-items .item-thumbnail {
  width: 130px;
  max-width: 130px;
}